body {
  background-color: red;
}
h1 {
  background-color: #f8f4ff;
  padding: 15px;
  color: #847b6b;
}
p {
  padding: 50px;
}

.container {
  background-color: #f5fffa;
  color: #847b6b;
  text-align: center;
  max-width: 400px;
}
.links-styling {
  color: #847b6b;
  padding: 15px 25px;
  background-color: #f8f4ff;
  border-radius: 10px;
  text-transform: none;
  box-shadow: 1px 1px 10px;
}
.img {
  display: block;
  margin: 50px auto;
  border-width: 20px;
}
